#container-conteudo {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.lista-secoes {
    display: flex;
    flex-direction: row;
    justify-content: start
}

.secao {
    margin-right: 1em;
    padding: 0.5em 0.8em;
    border-radius: 5px;
    background-color: rgba(35, 35, 35, 0.5);
    transition: .5s;
    cursor: pointer;
}

.secao a {
    text-decoration: none;
}

.secao:hover {
    background-color: #00F65C;
}

.titulo-secao {
    width: fit-content;
    border-bottom: 1px solid #00F65C;
    font-size: 1.2em;
    margin-bottom: 1em;
    margin-top: 1em;
    font-weight: 500;
}

#container-pessoa-conteudo {
    padding: 1.5em;
}

#localizacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 2em;
    font-size: 0.8em;
    justify-content: space-between;
}

#localizacao div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#localizacao .icone-social:nth-child(1) {
    margin-right: 0.2em;
    position: relative;
    top: -2px;
}

