
#apresentacao-lateral {
    background-color: rgba(35, 35, 35, 0.35);
    width: 100%;
    max-width: 320px;
    border-radius: 10px 10px 10px 10px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    position: relative;
    z-index: 6;
}


#apresentacao-pessoal {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container-foto {
    width: 100%;
    text-align: center;
}

#foto-perfil {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
}

#foto-perfil::before {
    background-color: #0057FF;
    height: 50%;
    width: 50%;
}

#titulo {
    margin-bottom: 0.8em;
    font-weight: 900;
    font-size: 1.3em;
}

#sub-titulo {
    font-size: 0.9em;
    color: #F2F2F2;
    line-height: 1.5em;
}

#container-socials {
    display: flex;
    gap: 6px;
}

.icone-social {
    font-size: 12px;
    fill: #0057FF;
    margin-right: 0.5em;
    color: #0057FF;
}

#copyright {
    margin-top: 80px;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
    text-align: center;
}
