#section-projects {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 32px;
    border-radius: 10px;
    cursor: pointer;
    align-items: start;
}

.project:hover {
    background-color: rgba(35, 35, 35, 0.22);
    transition: 0.5s;
}

.project-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project-image {
    width: 100%;
    max-width: 220px;
    border-radius: 10px;
}

.project-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #FFFFFF;
}

.project-description {
    text-align: justify;
    font-size: 1em;
    line-height: 1.5em;
    color: rgb(153, 143, 143);
}

.project-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    transition: 1s;
}

.project:hover .project-icon {
    transform: translateX(5px) translateY(-5px);
}

.technologies {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.technology {
    padding: 4px 8px;
    border-radius: 5px;
    background-color: rgba(35, 35, 35, 0.5);
    color: #FFFFFF;
    font-size: 0.8em;
}