#section-home {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

#text-description {
    max-width: 400px;
    text-align: justify;
}

.metric {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 120px;
}

.metric-value {
    font-size: 4.5em;
    font-weight: bold;
}

#container-metrics {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: start;
}