* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    min-height: 100vh;
    background-color: #000000;
    padding: 1em;
}

#apresentacao-lateral {
    height: 100%;
    background-color: rgba(35, 35, 35, 0.2);
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}