@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: "Inter", sans-serif !important;
}

body {
    height: 100vh;
    min-height: 100vh;
    background-color: #000000;
    padding: 1em;
}

img {
    max-width: 100%;;
}

