@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: "Inter", sans-serif !important;
}

html {
    scroll-behavior: smooth;
    scroll-timeline: auto;
    animation-timing-function: ease-in-out;
}

body {
    min-height: 100vh;
    min-height: 100vh;
    background-color: #000000;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: -100px;  
    left: -100px; 
    width: 500px;  
    height: 500px; 
    background: radial-gradient(circle,  
        rgba(0, 87, 255, 0.5) 0%, 
        rgba(0, 87, 255, 0.3) 40%, 
        rgba(0, 87, 255, 0.1) 70%, 
        transparent 100%);
    filter: blur(40px); 
    z-index: 1;
}

body::after {
    content: "";
    position: fixed;
    bottom: -100px;  
    right: -100px; 
    width: 360px;  
    height: 340px; 
    background: radial-gradient(circle,  
        rgba(0, 87, 255, 0.5) 0%, 
        rgba(0, 87, 255, 0.3) 40%, 
        rgba(0, 87, 255, 0.1) 70%, 
        transparent 100%);
    filter: blur(40px); 
    z-index: 1;
}

img {
    max-width: 100%;;
}

.text-centered {
    text-align: center;
}

.title-1 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.1em;
}

.title-2 {
    font-weight: bold;
    font-size: 1.20em;
    margin-bottom: 0.5em;
}

.subtitle {
    font-size: 1.20em;
    color: #80848E;
    line-height: 1.5em;
}

.title-section-1 {
    font-size: 140px;
    font-weight: bold;
}

.title-section-2 {
    font-size: 115px;
    font-weight: bold;
    color: #80848E;
}

.text {
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: 500;
}

.text-shy {
    font-size: 1.1em;
    line-height: 1.5em;
    color: rgb(153, 143, 143);
}

.bottom-spacing {
    margin-bottom: 1em;
}

.section {
    min-height: 100vh;
}


